<div class="container">
  <div class="row">
    <h2>Full Stack Web Development</h2>
      <div class="col-xs-6 col-md-3">
        <a href="https://boiling-beyond-13201.herokuapp.com/" class="thumbnail img-responsive" target=" _blank">
          <%= image_tag("FSwebDev/Devmatch.png", alt: "Devmatch" ) %>
            <div class="caption">
            </br>
            </br>
            <h3><small>DevMatch</small></h3>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://github.com/Parkstro" class="thumbnail img-responsive" target=" _blank">
          <%= image_tag("FSwebDev/github-logo-icon.png", alt: "GitHub logo, cat silhouette" ) %>
            <div class="caption">
            </br>
            </br>
            <h3><small>GitHub</small></h3>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://www.linkedin.com/in/parker-strom-836403a1" class="thumbnail img-responsive" target=" _blank">
          <%= image_tag("FSwebDev/LinkedIn_logo_icon.png", alt: "Linkedin logo, word 'in' inside a rounded square" ) %>
            <div class="caption">
            </br>
            </br>
            <h3><small>Linkedin</small></h3>
          </div>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="https://tree.taiga.io/profile/parkstro" class="thumbnail img-responsive" target=" _blank">
          <%= image_tag("FSwebDev/taiga-logo-icon.png", alt: "Taiga logo, Multicolored flower" ) %>
            <div class="caption">
            </br>
            </br>
            <h3><small>Taiga</small></h3>
          </div>
        </a>
      </div>
  </div>
  
    <div class="row">
      <h2>Paintings</h2>
        <div class="col-xs-6 col-md-3">
          <%= link_to stella_path, class: "thumbnail img-responsive"  do %>
            <%= image_tag("paintings/stella-rs.jpg", alt: "oil painting of stella the pug looking at a strawberry" ) %>
            <div class="caption">
              </br>
              </br>
              <h3><small>Stella</small></h3>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6 col-md-3">
          <%= link_to nick_path, class: "thumbnail img-responsive"  do %>
            <%= image_tag("paintings/nick.jpg", alt: "image description goes here" ) %>
            <div class="caption">
              </br>
              </br>
              <h3><small>Nick</small></h3>
            </div>
          <% end %>
        </div>
        <div class="col-xs-6 col-md-3">
          <%= link_to eligh_path, class: "thumbnail img-responsive"  do %>
            <%= image_tag("paintings/eligh.jpg", alt: "image description goes here" ) %>
            <div class="caption">
              </br>
              </br>
              <h3><small>Eligh</small></h3>
            </div>
          <% end %>
        </div>
      <div class="col-xs-6 col-md-3">
        <%= link_to larry_path, class: "thumbnail img-responsive"  do %>
          <%= image_tag("paintings/lizard.jpg", alt: "image description goes here" ) %>
          <div class="caption">
              </br>
              </br>
              <h3><small>Larry E. Lizzard</small></h3>
            </div>
        <% end %>
      </div>
    </div>
    
  <div class="row">
    <h2>Digital Illustrations</h2>
    <div class="col-xs-6 col-md-3">
    <%= link_to dinosaurus_path, class: "thumbnail img-responsive"  do %>
        <%= image_tag("digital_illustrations/dinosaur.png", alt: "image description goes here" ) %>
            <div class="caption">
              </br>
              </br>
              <h3><small>Dinosaur</small></h3>
            </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to steakface_path, class: "thumbnail img-responsive"  do %>
        <%= image_tag("digital_illustrations/meat-face.png", alt: "image description goes here" ) %>
             <div class="caption">
               </br>
               </br>
              <h3><small>Steak Face</small></h3>
            </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to screwed_path, class: "thumbnail img-responsive"  do %>
        <%= image_tag("digital_illustrations/screwed.gif", alt: "image description goes here" ) %>
            <div class="caption">
              </br>
              </br>
              <h3><small>Screwed</small></h3>
            </div>
      <% end %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= link_to mmm_path, class: "thumbnail img-responsive"  do %>
        <%= image_tag("digital_illustrations/Witches-be-shoppin.png", alt: "image description goes here" ) %>
            <div class="caption">
              </br>
              </br>
              <h3><small>Monster Mega Mart</small></h3>
            </div>
      <% end %>
    </div>
  </div>
</div>
