<div class="container">
    <div class="row">
      <h2 class="text-center">Paintings</h2>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail img-responsive">
          <%= image_tag("paintings/stella.jpg", alt: "oil painting of stella the pug looking at a strawberry" ) %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail img-responsive">
          <%= image_tag("digital_illustrations/dinosaur.png", alt: "image description goes here" ) %>
        </a>
      </div>
      <div class="col-xs-6 col-md-3">
        <a href="#" class="thumbnail img-responsive">
          <%= image_tag("#", alt: "image description goes here" ) %>
        </a>
      </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("#", alt: "image description goes here" ) %>
      </a>
    </div>
  </div>
  <div class="row">
    <h2 class="text-center">Digital Illustrations</h2>
    <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail img-responsive">
        <%= image_tag("#", alt: "image description goes here" ) %>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("#", alt: "image description goes here" ) %>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("#", alt: "image description goes here" ) %>
      </a>
    </div>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail img-responsive">
        <%= image_tag("#", alt: "image description goes here" ) %>
      </a>
    </div>
  </div>
</div>
